[branch "configuration"]
        repository = cours
	repository = cours-public
	dependants = enseignants

[branch "enseignants"]
	repository = cours
	dependants = enonces
	dependants = solutions

[branch "enonces"]
	repository = cours
	repository = cours-public

[branch "solutions"]
	repository = cours
	repository = cours-public
